/SortingNetworksVisualize/nbproject/private/
/SortingNetworksVisualize/build/
/SortingNetworksTester/nbproject/private/
/SortingNetworksTester/build/
/NetworkLib/build/
/NetworkLib/nbproject/private/
/SortingNetworksGenerator/build/
/SortingNetworksGenerator/nbproject/private/
/testFolder/
test.txt
test2.txt
s_1.jpg
u_2.jpg
u_2.jpg
/SortingNetworksGenerator/dist/
~$tijdsbesteding.xlsx

~$timeTest.xlsx
/SortingNetworksPaper/nbproject/private/
/SortingNetworksPaper/build/
/SortingNetworksPaper/dist/
