/SortingNetworksVisualize/nbproject/private/
/SortingNetworksVisualize/build/
/SortingNetworksTester/nbproject/private/
/SortingNetworksTester/build/
/SortingNetworksGenerator/nbproject/private/
/SortingNetworksGenerator/build/
/SortingNetworksGenerator/dist/
/NetworkLib/nbproject/private/
/NetworkLib/build/
~$tijdsbesteding.xlsx
~$timeTest.xlsx
/SortingNetworksPaper/nbproject/private/
/SortingNetworksPaper/build/
/SortingNetworksPaper/dist/
*.pl~

~$timeTestPaper.xlsx
/C_SortingNetworks/SortingNetworks/dist/
/C_SortingNetworks/SortingNetworks/build/
/SortingNetworksParallel/nbproject/private/
/SortingNetworksParallel/build/
/SortingNetworksParallel/dist/
~$per optimalisaties 31-01-2016.docx

id_rsa_vcs

id_rsa_vcs.pub
