/SortingNetworksVisualize/nbproject/private/
/SortingNetworksVisualize/build/
/SortingNetworksTester/nbproject/private/
/SortingNetworksTester/build/
/SortingNetworksGenerator/nbproject/private/
/SortingNetworksGenerator/build/
/SortingNetworksGenerator/dist/
/NetworkLib/nbproject/private/
/NetworkLib/build/
~$tijdsbesteding.xlsx
~$timeTest.xlsx
/SortingNetworksPaper/nbproject/private/
/SortingNetworksPaper/build/
/SortingNetworksPaper/dist/
*.pl~

~$timeTestPaper.xlsx
/C_SortingNetworks/SortingNetworks/dist/
/C_SortingNetworks/SortingNetworks/build/
/SortingNetworksParallel/nbproject/private/
/SortingNetworksParallel/build/
~$per optimalisaties 31-01-2016.docx

/C/C_WV/nbproject/private/private.xml
/C/C_WV/nbproject/Makefile-Debug.mk
/C/C_WV/nbproject/Makefile-impl.mk
/C/C_WV/nbproject/Makefile-variables.mk
/C/C_WV/nbproject/Package-Debug.bash
/C/C_WV/nbproject/configurations.xml
/C/C_WV/nbproject/private/configurations.xml
C/C_WV/nbproject/configurations.xml
C/C_WV/nbproject/Makefile-Debug.mk
C/C_WV/nbproject/Makefile-impl.mk
C/C_WV/nbproject/Makefile-variables.mk
C/C_WV/nbproject/Package-Debug.bash
C/C_WV/nbproject/private/configurations.xml

id_rsa_vsc

id_rsa_vsc.pub

*.metadata/*
.metadata/
.metadata/*
C/C_WV/nbproject/private/private.xml

C/C_WV/nbproject/private/private.xml
/SNPrinter/nbproject/private/
/SNPrinter/build/

Poster/~$Poster_herwerking.pptx

/SortingNetworksPaper/nbproject/project.properties
/SortingNetworksParallel/nbproject/project.properties

/SortingNetworksParallel/nbproject/project.properties
/SortingNetworksPaper/nbproject/project.properties

*.properties
/memTestTemp/nbproject/private/
/memTestTemp/build/